:root {
    margin: 0;
    padding: 0;

    --dark-black-wood: #222222;
    --beige-serenito: #E0C097;
    --TODO-color-white: #FAFAFA;
    --soft-black: #1C1C1C;
    --sunny-yellow: #E4C067;
    --gray-black: #313131;


    --border-radious-units: 8px;
}

  