@import '../../stylesheets/style.config.css';

.EmptyTodoContainer {
    background-color: var(--gray-black);
    margin: 5% 15%;
    padding: 1%;
    border-radius: var(--border-radious-units);
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 550px) {
    .EmptyTodoContainer {
        font-size: large;
    }
}

@media screen and (min-width: 1000px) {
    .EmptyTodoContainer {
        font-size: x-large;
    }
}