@import "./stylesheets/style.config.css";

body {
  margin: 0;
  padding: 0;
  background: var(--dark-black-wood);
  color: var(--TODO-color-white);
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
